<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chats</title>
</head>
<body>
    <h3>Write New Chats</h3>
    <form method="post" action="/chats">
        <input type="text" placeholder="Who are You?" name="from">
        <br><br>
        <textarea name="msg">Write Your Message here ..</textarea>
        <br><br>
        <input type="text" name="to" placeholder="add receiver">
        <br><br>
        <button>Create chat</button>
    </form>
    
</body>
</html>