.container {
    
    height: 100vh;   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12 , 1fr);
    grid-gap: 10px;
    grid-column: 1 / 12;
    grid-row: 1 / 12;
}

.container div {
    background-color: pink;
    font-size: 1.5rem;
}

.header {
    grid-column: 1 / span 12;
}

.sidebar {
    grid-column: 1 / span 3;
    grid-row: 2 / span 10;
}

.navigation {
    grid-column: 4 / span 6;
}

.ads {
    grid-row: 2 / span 10;
    grid-column: 10 / span 3;
}

.main {
    grid-row: 3 / span 9;
    grid-column: 4 / span 6;
}

.footer {
    grid-column: 1 / span 12;
}

@media (width : 720px){
    .header {
        grid-column: 1 / span 12;
        background-color: cadetblue;
    }

    .navigation {
        grid-column: 1 / span 12;
        grid-row:  2;
        background-color: cadetblue;
    }

    .sidebar {
        grid-column: 1 / span 3;
        grid-row: 3 / span 9;
        background-color: cadetblue;
    }

    .main {
        grid-column: 4 / span 9;
        grid-row: 3 / span 9;
        background-color: cadetblue;
    }

    .ads {
        grid-column: 1 / span 3;
        grid-row: 12;
        background-color: cadetblue;
    }

    .footer {
        grid-column: 4 / span 9;
        grid-row: 12;
        background-color: cadetblue;
    }
}


    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid goldenrod;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        }
        @keyframes spin {
        0% {
        /* Set rotation to 0 degrees */
            transform : rotate (0deg)
        }
        100% {
        /* Set rotation to 360 degrees */
            transform : rotate (360deg)
        }
    }
